html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  transition-duration: 0.25s;
}
nav {
  margin-bottom: 1em;
}

body {
  overflow: auto;
  overflow-x: hidden;
  font-size: calc(10px + 2vmin);
  color: #FFF;
  background-color: #1e2331;
}
a { color: #ffefa7; }

.container { 
  max-width: 1400px;
  padding-left: 1em;
  padding-right: 1em;
}

.box-shadow {
  box-shadow: 0px 42px 20px #211f24;
}

.logo {
  position: absolute;
  top:0;
  right:0;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-left: auto;
  animation: logo-spin infinite 20s linear;
}

.App {
  min-height: 98vh;
  overflow: hidden;
  /* border: 1px solid salmon; */
}

.App-body {
  display: block;
  background-color: #1e2331;
  color: white;
}

button { cursor: pointer ;}
button:disabled {
  color: #CCC;
  cursor: not-allowed;  
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
}
.horizontal-list div { padding: 8px; }
a {
  text-decoration: none !important;
}

.errors {
  font-size: 16px;
  color: #D22;
  text-align: left;
  padding: 1em;
}

.font-header {
  font-weight: bold;
  margin-bottom: 12px;
}

.text-white {
  color: #FFF;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}

.loader {
  width: 180px;
  height: 180px;
  border: 18px solid #f3f3f3;
  border-radius: 50%;
  border-right: 18px solid #85e95d;
  animation: logo-spin infinite 20s linear;
}

.hide { display: none; }

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2331; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: grab;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .container { max-width: none; padding-left: 0; padding-right: 0; }
  .hide-sm { display: none; }
  .show-md { display: none; }
}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .show-sm { display: none; }
  .hide-md { display: none; }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .show-sm { display: none; }
  .show-md { display: none; }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
