.movies-section {
  position: relative;
  /* display: flex; */
  white-space: nowrap;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 12px;
  -ms-overflow-style: none;
}
.movies-section::-webkit-scrollbar {
  display: none;
}