.movie {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 460px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 12px 12px #1c181d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px;
}
.movie:hover {
  transform: scale(1.1);
}

.selected {
  border: 2px solid #ffc74f;
}
.selectionText {
  color: black;
  background-color: #ffc74f;
  display: inline-block;
  position: absolute;
  padding: 12px;
  top:50%;
  left:50%;
  font-size: 18px;
  text-align: center;
  z-index: 12;
  transform: translateX(-50%);
  font-weight: bold;
  text-transform: uppercase;
  mix-blend-mode: screen; /* This makes the cutout text possible */

}
.movie .poster-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.bg::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  content: attr(title);
  text-align: center;
  white-space: normal;
  font-size: 1.25em;
  text-shadow: 0 0 8px black;
  transform: translateX(-50%);
}

.desc {
  max-width: 1200px;
  padding: 1em 4em;
  width: 100%;
  color: #FFF;
  background-color: rgba(10, 10, 15, 0.9);
}
.desc-info {
  padding-left: 8px;
  padding-right: 8px;
}

.movie-page {
  width: 100%;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.movie-page .poster-container {
  position: relative;
  width: 280px;
  height: 420px;
  margin-bottom: 1em;
}

.movie-page button {
  font-size: 18px;
  color: #fff7ca;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  z-index: 999;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .desc { padding-left: 0; padding-right: 0; }
  .movie-page .poster-container { margin: auto; }
}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {

}
